<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Simple Memo GraphQL Example</title>
  </head>
  <body>
    <h1>Simple Memo GraphQL Example (ENV: {{env}})</h1>
  </body>
</html>