<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Simple Memo GraphQL Example</title>
  </head>
  <body>
    <h1>Simple Memo GraphQL Example (ENV: {{env}})</h1>
    <ul>
      <li><a href="/api/memos">REST API (GET /api/memos)</a></li>
      <li><a href="/graphql">GraphQL (express-graphql)</a></li>
      <li><a href="/graphql">GraphQL (Apollo: graphql-server-express)</a></li>
    </ul>
  </body>
</html>