# ref. https://store.docker.com/images/022689bf-dfd8-408f-9e1c-19acac32e57b
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_USER=postgres
POSTGRES_DB=simple_memo
PGDATA=/postgresql/data
POSTGRES_INITDB_ARGS=--encoding=UTF8 --no-locale --data-checksums